* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(218, 218, 218);
    color: #161515;
    font-family: sans-serif;
}

.center {
    text-align: center;
    margin-top: 1rem;
}

.center::after {
    content: '';
    display: block;
    height: 1px;
    width: 50%;
    background: #161515;
    margin: 5px auto;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
}

#cards img {
    margin: 1.5rem;
}
